<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Node.js App</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <nav class="nav">
        <a href="/">Main page</a>
        <% if (session.isAuthenticated) { %>
            <a href="/dashboard">Menu</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/register">Registration</a>
        <% } %>
    </nav>
</body>
</html>