<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../public/css/login-register.css">
</head>

<body>
    <form method="post" action="/register" class="login-form">
        <p class="login-text">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </p>
        <input type="email" id="email" name="email" class="login-username" autofocus="true" required="true" placeholder="Email" />
        <input type="password" id="password" name="password" class="login-password" required="true" placeholder="Password" />
        <input type="submit" name="Login" value="Login" class="login-submit" />
      </form>
      <a href="#" class="login-forgot-pass">forgot password?</a>
      <div class="underlay-photo"></div>
      <div class="underlay-black"></div> 
</body>

</html>